:root {
  --line-border-fill: #3f3f3f;
  --line-border-empty: #ffffff;
}

.container {
  text-align: center;
}
.container-progress {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 550px;
  margin-bottom: 1.5rem;
}

.container-progress::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: var(--line-border-empty);
  z-index: -1;
}

.progress {
  position: absolute;
  background-color: var(--line-border-fill);
  height: 4px;
  width: 0%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  transition: width 1s ease;
}

.check__icon {
  color: white;
  z-index: 20;
  transition: all 1s ease;
}

.check__icon__dot {
  color: black;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: white;
}

.circles.active {
  border: 3px solid var(--line-border-fill);
  background-color: #3f3f3f;
}
