body {
  overflow-x: auto;
}
table,
td {
  border: 1px solid black;
  padding: 5px 15px;
  width: 150px;
}

td {
  font-size: 0.9em;
  height: 40px;
}

table {
  min-width: 300px;
}

thead,
tfoot {
  background-color: #1c8149;
  color: white;
  font-weight: bold;
}

th {
  padding: 10px;
}
.wrapper__restaurant {
  display: flex;
  margin-bottom: 1rem;
  margin-top: 2rem;
  .delete__restaurant {
    color: red;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .command__restaurant {
    display: flex;
  }
  .element__restaurant {
    width: 200px;
    text-align: center;
    background-color: #1c8149;
    p:first-child {
      margin-bottom: 10px;
      font-weight: bold;
      background-color: red;
    }
  }
}
