body {
  background-color: #161a1d;
  color: white;
}

.logo__nav__command {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  // Ajuster la différence des deux navbar
  margin-top: 15px;
  transform: translateX(-4px);
  .cow__head {
    margin: 0 1px 0 1px;
  }
}

.wrapper {
  height: 100%;
}

.price {
  font-size: 0.8em;
  margin-top: 3px;
}

.container__command {
  display: flex;
  height: 100%;
  margin-top: 5rem;

  .container__selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 4;
    .progress__bar {
      margin-bottom: 5rem;
    }
    .content__command {
      height: 500px;
    }
  }

  .resume__command {
    transform: translateY(-50px);
    flex: 1;
    flex-wrap: nowrap;
    flex-basis: 100px;
    margin-right: 2rem;
    color: black;
    background-color: #ebeae6;
    border-radius: 5px;
    max-height: 800px;
    position: relative;
    .logo__receipt {
      margin-top: 20px;
    }
    .star {
      font-size: 0.8em;
    }
    .header__bill {
      margin-top: 1.5rem;

      .title__bill {
        margin-bottom: 5px;
        font-weight: 700;
      }
    }
    .informations__bill {
      font-size: 0.8em;
      text-align: left;
      margin-left: 15px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .command__bill {
      margin-top: 1rem;
      font-size: 0.9em;
      .text__bill {
        margin-bottom: 10px;
      }
    }

    //BARCODE
    .barcode {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.total__bill {
  margin-top: 2rem;
  font-weight: 700;
}

.button__final {
  margin-top: 50px;
}
.wrapper__final {
  height: 580px;

  .text__final {
    margin-bottom: 1rem;
  }

  .input__final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  label {
    width: 500px;
    text-align: center;
    transform: translateX(0);
  }

  #phone {
    margin-left: 10px;
  }
}

.wrapper__thanks {
  p:first-child {
    font-size: 10rem;
    font-weight: 700;
    animation-name: size;
    animation-duration: 25s;
  }
}

//LOADER
.loader__final {
  margin-top: 8rem;
}

.redirection {
  margin-top: 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//BUTTONS
.wrapper_buttons {
  display: flex;
}

.buttons {
  font-size: 1.1em;
  cursor: pointer;
}

.buttons:disabled {
  background-color: transparent;
  color: rgb(104, 104, 104);
}

.prev__button {
  background-color: transparent;
  border: none;
  color: white;
}

.next__button:disabled {
  .arrow__buttons {
    opacity: 0;
  }
}

@keyframes colorFade {
  0% {
    background-color: transparent;
  }

  100% {
    background-color: #2dbf6e;
  }
}

.next__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
  .arrow__buttons {
    margin-left: 5px;
  }
}

input[type="checkbox"]:checked,
.next__button {
  transition: background-color 500ms ease;
  background-color: #2dbf6e;
}

.button__final {
  display: flex;
}
