body {
  background-color: #161a1d;
  color: white;
}

.logo__nav__command {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 2px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  margin-top: 15px;
  -webkit-transform: translateX(-4px);
          transform: translateX(-4px);
}

.logo__nav__command .cow__head {
  margin: 0 1px 0 1px;
}

.wrapper {
  height: 100%;
}

.price {
  font-size: 0.8em;
  margin-top: 3px;
}

.container__command {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-top: 5rem;
}

.container__command .container__selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.container__command .container__selection .progress__bar {
  margin-bottom: 5rem;
}

@media screen and (max-width: 750px) {
  .container__command .container__selection .progress__bar {
    margin-bottom: 0;
  }
}

.container__command .container__selection .content__command {
  height: 500px;
}

@media screen and (max-width: 750px) {
  .container__command .container__selection .content__command {
    height: auto;
  }
}

.container__command .resume__command {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  padding-bottom: 140px;
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -ms-flex-preferred-size: 100px;
      flex-basis: 100px;
  margin-right: 2rem;
  color: black;
  background-color: #ebeae6;
  border-radius: 5px;
  position: relative;
}

@media screen and (max-width: 750px) {
  .container__command .resume__command {
    display: none;
  }
}

.container__command .resume__command .logo__receipt {
  margin-top: 20px;
}

.container__command .resume__command .star {
  font-size: 0.8em;
}

.container__command .resume__command .header__bill {
  margin-top: 1.5rem;
}

.container__command .resume__command .header__bill .title__bill {
  margin-bottom: 5px;
  font-weight: 700;
}

.container__command .resume__command .informations__bill {
  font-size: 0.8em;
  text-align: left;
  margin-left: 15px;
  line-height: 20px;
  margin-bottom: 10px;
}

.container__command .resume__command .command__bill {
  margin-top: 0.5rem;
  font-size: 0.9em;
  text-align: left;
}

.container__command .resume__command .command__bill .resume__command__receipt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 2rem;
  margin-top: 0.5rem;
}

.container__command .resume__command .command__bill .text__bill {
  margin-bottom: 10px;
}

.container__command .resume__command .barcode .fake__zip {
  width: 100%;
  border-bottom: 2px dashed black;
  position: absolute;
  bottom: 130px;
}

.container__command .resume__command .barcode img {
  width: 80%;
  max-height: 90px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin-bottom: 2rem;
}

.total__bill {
  margin-top: 2rem;
  font-weight: 700;
}

.button__final {
  margin-top: 50px;
}

.wrapper__final {
  height: 580px;
}

.wrapper__final .text__final {
  margin-bottom: 1rem;
}

.wrapper__final .input__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.wrapper__final label {
  width: 500px;
  text-align: center;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

@media screen and (max-width: 750px) {
  .wrapper__final label {
    width: 100%;
  }
}

.wrapper__final #phone {
  margin-left: 10px;
}

.wrapper__thanks p:first-child {
  font-size: 10rem;
  font-weight: 700;
  -webkit-animation-name: size;
          animation-name: size;
  -webkit-animation-duration: 25s;
          animation-duration: 25s;
}

@media screen and (max-width: 750px) {
  .wrapper__thanks p:first-child {
    font-size: 5em;
  }
}

.loader__final {
  margin-top: 8rem;
}

.redirection {
  margin-top: 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  -webkit-animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@-webkit-keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wrapper_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 750px) {
  .wrapper_buttons {
    margin-top: 2rem;
  }
}

.buttons {
  font-size: 1.1em;
  cursor: pointer;
}

.buttons:disabled {
  background-color: transparent;
  color: #686868;
}

.prev__button {
  background-color: transparent;
  border: none;
  color: white;
}

.next__button:disabled .arrow__buttons {
  opacity: 0;
}

.next__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.next__button .arrow__buttons {
  margin-left: 5px;
}

input[type="checkbox"]:checked,
.next__button {
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  background-color: #2dbf6e;
}

.button__final {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile__button__receipt {
  display: none;
  -webkit-animation-name: moove;
          animation-name: moove;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

@media screen and (max-width: 750px) {
  .mobile__button__receipt {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 15px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}

.mobile__closeModal {
  position: fixed;
  right: 5px;
  top: 5px;
  color: black;
}

.resume__command__mobile {
  width: 100%;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
}

.resume__command__mobile .title__bill {
  margin-bottom: 3px;
}

.resume__command__mobile .logo__receipt {
  margin-bottom: 10px;
}

@media screen and (max-width: 750px) {
  .resume__command__mobile .informations__bill {
    text-align: left;
    margin: 10px 0;
  }
  .resume__command__mobile .command__bill {
    text-align: left;
  }
  .resume__command__mobile .command__bill .resume__command__receipt {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .resume__command__mobile .barcode img {
    position: absolute;
    bottom: 0;
    width: 80%;
    max-height: 90px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 2rem;
  }
  .resume__command__mobile .fake__zip {
    width: 90%;
    border-bottom: 2px dashed black;
    position: absolute;
    bottom: 130px;
  }
}
/*# sourceMappingURL=command.css.map */