body {
  background-color: #161a1d;
  color: white;
}

.logo__nav__command {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  // Ajuster la différence des deux navbar
  margin-top: 15px;
  transform: translateX(-4px);
  .cow__head {
    margin: 0 1px 0 1px;
  }
}

.wrapper {
  height: 100%;
}

.price {
  font-size: 0.8em;
  margin-top: 3px;
}

.container__command {
  display: flex;
  height: 100%;
  margin-top: 5rem;

  .container__selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 4;
    .progress__bar {
      margin-bottom: 5rem;
      @media screen and(max-width: 750px) {
        margin-bottom: 0;
      }
    }
    .content__command {
      height: 500px;
      @media screen and(max-width: 750px) {
        height: auto;
      }
    }
  }

  .resume__command {
    height: min-content;
    padding-bottom: 140px;
    transform: translateY(-50px);
    flex: 1;
    flex-wrap: nowrap;
    flex-basis: 100px;
    margin-right: 2rem;
    color: black;
    background-color: #ebeae6;
    border-radius: 5px;
    position: relative;

    @media screen and (max-width: 750px) {
      display: none;
    }
    .logo__receipt {
      margin-top: 20px;
    }
    .star {
      font-size: 0.8em;
    }
    .header__bill {
      margin-top: 1.5rem;

      .title__bill {
        margin-bottom: 5px;
        font-weight: 700;
      }
    }
    .informations__bill {
      font-size: 0.8em;
      text-align: left;
      margin-left: 15px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .command__bill {
      margin-top: 0.5rem;
      font-size: 0.9em;
      text-align: left;
      .resume__command__receipt {
        display: flex;
        justify-content: space-between;
        margin: 0 2rem;
        margin-top: 0.5rem;
      }
      .text__bill {
        margin-bottom: 10px;
      }
    }

    //FAKE ZIP

    //BARCODE
    .barcode {
      .fake__zip {
        width: 100%;
        border-bottom: 2px dashed black;
        position: absolute;
        bottom: 130px;
      }
      img {
        width: 80%;
        max-height: 90px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        margin-bottom: 2rem;
      }
    }
  }
}

.total__bill {
  margin-top: 2rem;
  font-weight: 700;
}

.button__final {
  margin-top: 50px;
}
.wrapper__final {
  height: 580px;

  .text__final {
    margin-bottom: 1rem;
  }

  .input__final {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  label {
    width: 500px;
    text-align: center;
    transform: translateX(0);
    @media screen and(max-width: 750px) {
      width: 100%;
    }
  }

  #phone {
    margin-left: 10px;
  }
}

.wrapper__thanks {
  p:first-child {
    font-size: 10rem;
    font-weight: 700;
    animation-name: size;
    animation-duration: 25s;
    @media screen and(max-width: 750px) {
      font-size: 5em;
      
    }
  }
}

//LOADER
.loader__final {
  margin-top: 8rem;
}

.redirection {
  margin-top: 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//BUTTONS
.wrapper_buttons {
  display: flex;
  @media screen and(max-width: 750px) {
    margin-top: 2rem;
  }
}

.buttons {
  font-size: 1.1em;
  cursor: pointer;
}

.buttons:disabled {
  background-color: transparent;
  color: rgb(104, 104, 104);
}

.prev__button {
  background-color: transparent;
  border: none;
  color: white;
}

.next__button:disabled {
  .arrow__buttons {
    opacity: 0;
  }
}

.next__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
  .arrow__buttons {
    margin-left: 5px;
  }
}

input[type="checkbox"]:checked,
.next__button {
  transition: background-color 500ms ease;
  background-color: #2dbf6e;
}

.button__final {
  display: flex;
}

//MOBILE BUTTON RECEIPT
.mobile__button__receipt {
  display: none;
  animation-name: moove;
  animation-duration: 10s;
  @media screen and (max-width: 750px) {
    display: block;
    position: fixed;
    bottom: 10px;
    right: 15px;
    height: auto;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
}

.mobile__closeModal {
  position: fixed;
  right: 5px;
  top: 5px;
  color: black;
}

.resume__command__mobile {
  width: 100%;
  color: black;
  border-radius: 5px;
  text-align: center;
  font-size: 0.8em;
  .title__bill {
    margin-bottom: 3px;
  }
  .logo__receipt {
    margin-bottom: 10px;
  }
  @media screen and(max-width: 750px) {
    .informations__bill {
      text-align: left;
      margin: 10px 0;
    }

    .command__bill {
      text-align: left;
      .resume__command__receipt {
        display: flex;
        justify-content: space-between;
      }
    }
    .barcode {
      img {
        position: absolute;
        bottom: 0;
        width: 80%;
        max-height: 90px;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        margin-bottom: 2rem;
      }
    }

    .fake__zip {
      width: 90%;
      border-bottom: 2px dashed black;
      position: absolute;
      bottom: 130px;
    }
  }
}
