body {
  background-color: #161a1d;
  color: white;
}

.logo__nav__command {
  font-weight: 700;
  font-size: 1.3em;
  letter-spacing: 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  // Ajuster la différence des deux navbar
  margin-top: 15px;
  transform: translateX(-4px);
  .cow__head {
    margin: 0 1px 0 1px;
  }
}

.wrapper {
  height: 100%;
}

.container__command {
  display: flex;
  height: 100%;
  margin-top: 5rem;

  .container__selection {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 4;
    .progress__bar {
      margin-bottom: 5rem;
    }
    .content__command {
      height: 600px;
    }
  }
  .resume__command {
    flex: 1;
    flex-wrap: nowrap;
    flex-basis: 100px;
    margin-right: 2rem;
    background-color: #ebeae6;
    .star {
      font-size: 0.8em;
    }
    .header__bill {
      margin-top: 1.5rem;

      .title__bill {
        margin-bottom: 5px;
        font-weight: 700;
      }
    }
    .informations__bill {
      font-size: 0.8em;
      text-align: left;
      margin-left: 15px;
      line-height: 20px;
      margin-bottom: 10px;
    }

    .command__bill {
      margin-top: 1rem;
      font-size: 0.9em;
      .text__bill {
        margin-bottom: 10px;
      }
    }
  }
}


.total__bill {
  margin-top: 2rem;
  font-weight: 700;
}