.wrapper {
  text-align: center;
  .title {
    margin-bottom: 5rem;
  }
}

.content__command {
  width: 100%;
}

.command__description {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.sandwich__main {
  width: 150px;
}

.command__size {
  .header__command {
    margin-bottom: 2rem;
  }

  label {
    width: 100px;
    display: block;
    text-align: left;
    margin: 0 auto;
    transform: translateX(15px);
    margin-top: 1rem;
  }
}
